.container {
    padding: 0;
    margin: 0;
    display: flex;
}

.orkut {
    display:flex;
    justify-content: center;
    align-items: center;
   
}

.orkut img {
    width: 130px;
    margin: 0;
    padding: 0;
    display: block;
    
  
}